@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Courgette|Ranga');

body {
	color: #465CFF;
	background-color: #FFFFFF;
	font-size: 20px;
	line-height: 1.3;
	font-family: Georgia, sans-serif;
}

h1 {
	color: #1FCCFF;
	text-align: center;
	font-size: 50px;
	font-family: Palatino, sans-serif;
}

h2	{
	text-align: center;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-family: 'Courgette', cursive;
	font-size: 25px;
}

nav {
	text-align: center;
	font-family: 'Courgette', cursive;
	font-family: 'Ranga', cursive;
	font-size: 25px;
	padding: 10px 2em;
	margin: 0 20px;
	letter-spacing: 2px;
}

img	{
	width: 30em;
}

footer {
	text-align: center;
	background-color: #4481CE;
	color: #000000;
	padding: 10px;
}

a {
	padding-bottom: 2px;
	border-bottom: 1px solid #0DF5FF;
	text-decoration: none;
}