* {
	padding: 0;
	margin: 0;
}

body {
	font-family: ;
	font-size: ;
	line-height: ;
}

div {
	background-color: #FFE2B8;
}

header {
	background-color: #FFED74;
	padding: 20px;
	text-align: center;
	border: 1 px black solid
}

#nav_one {
	text-align: center;
	padding: 10px 0;
	background-color: #E8C66A;
}

nav a:hover {
	background-color: #dd0000;
}

#nav_aside {
	text-align: right;
	float: right;
	padding-top: 20px;
	background-color: #FFC675;
}

main {
	width: left;
	float: left;
}

h1 {
	background-color: #ccc;
	text-align: center;
	padding: 20px;
	border: 5px solid black;
}

h2 {

}

img {
	display: block;
	margin: 0 auto;
}

article {
	padding: 20px 0;
	border: 2px solid gray; 
	background-color: #E89C6C;
}

footer {
	background-color: #FF957E ;
	padding: 20px;
	clear: both;
}

.wrapper {
	width: 1080px;
	margin: 0 auto;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	font-size: 0;
	visibility: hidden;
	height: 0;
}

img {
	width: 1000px;
}