body {
	color: #465CFF;
	background-color: #FFFFFF;
	font-size: 20px;
	line-height: 1.3;
	font-family: Georgia, sans-serif;
}

img {
	font-size: 22px;
}

h1 {
	color: #1FCCFF;
	text-align: center;
}

h2	{
	text-align: center;
}

#slogan {
	font-style: italic;
	text-align: center;
}

nav {
	text-align: center;
	margin-right: 25px;
}

img	{
	width: 100%;
}

footer {
	text-align: center;
	background-color: #4481CE;
	color: #000000;
	padding: 10px;

}